.DS_Store
__pycache__/
lightning_logs/

wandb/

outputs/

model/
models/
client_secrets.json
.ipynb_checkpoints/
*.mp4
*.egg-info
i3d_pretrained_400.pt


# datasets/
datasets
datasets/Appimate/test
datasets/Appimate/train
datasets/Kinetics
datasets/MNIST
datasets/MovingMNIST
datasets/tinyshakespeare
datasets/UCF

*.bin
*.safetensors
*.pt
*.pth
*.onnx

text-to-video-ms-1.7b